<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Book</title>
    <link href="https://bootswatch.com/5/cyborg/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"/>
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          crossorigin="anonymous">
</head>
<body class="m-0 p-0">
<nav class="navbar navbar-expand-lg bg-primary mb-2" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/availableBooks">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/mybooks">My Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/bookRegister">New Book Register</a>
                </li>
            </ul>
            <div class="d-flex">
                <h3>Welcome to Book Store!</h3>
            </div>
        </div>
    </div>
</nav>
<div class="container my-5">
    <div class="row" style="margin-left: 150px;">
       <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title" style="font-weight: bold;">Edit Book.</h2>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/save}"  method="post" enctype="multipart/form-data" th:object="${book}">
                            <input type="hidden" name="id" th:value="${book.id}">

                            <div class="form-group mb-2">
                                <label for="txtName" class="col-sm-2 col-form-label">Name:</label>
                                <input type="text" class="form-control" id="txtName" name="name" th:value="${book.name}"
                                       required>
                            </div>
                            <div class="form-group mb-2">
                                <label for="txtAuthor" class="col-sm-2 col-form-label">Author:</label>
                                <input type="text" class="form-control" id="txtAuthor" name="author" th:value="${book.author}"
                                       required>
                            </div>
                            <div class="form-group  mb-2">
                                <label for="txtPrice" class="col-sm-2 col-form-label">Price:</label>
                                <input type="number" class="form-control" id="txtPrice" style="width: 200px;" name="price"
                                       th:value="${book.price}" required>
                            </div>
                            <div class="form-group  mb-2">
                                <label for="txtPhoto" class="col-sm-2 col-form-label">Cover Photo:</label>
                                <input type="file" class="form-control btn-primary "  id="txtPhoto" name="photo" th:value="${book.foto}" required>
                            </div>
                            <hr/>
                            <div class="form-group text-end">
                                <button type="submit" name="btnSave" class="btn btn-primary">Save!</button> |
                                <a href="/availableBooks" type="button" name="btnCancel" class="btn btn-warning">Cancel!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <div class="col-lg-6">
            <img th:src="@{'data:'+${book.getMimeType()}+';base64,'+${book.foto}}" alt="Sen Photo" height="500px" style="border-radius: 20px;">
<!--            <img src="../static/images/bg.jpg" height="517px" style="border-radius: 20px;"/>-->
        </div>
    </div>
</div>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>

<script>
    $(document).ready(function () {
        //$('#myTable').DataTable(table);
        table

    });
    var table = $('#myTable').DataTable({});
    table.page.len(7).draw();

</script>
<!--LONGTEXT-->